*{margin: 0;
 padding:0;}

body{
background-color: rgb(16, 91, 125);
}
 h1{font-family:Georgia, 'Times New Roman', Times, serif;
color:rgb(240, 231, 231); 
font-size: 2rem;
text-align: center;
padding: top 20;}